.container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
}

.box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
}

/* Below i fixed the problem and centered the picture using flexbox */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}